<%# Guest's name, Guest's occupation - DONE %>
<%# add a list of the Episodes the Guest has appeared on. DONE %>
<%# date of the Episode - DONE
rating for the Appearance - WIP
Each Episode date should link to the show page for that Episode. DONE %>

<h3>Name: <%= @guest.name %></h3>
<h3>Occupation: <%= @guest.occupation %></h3>

<h3>List of Appearances:</h3>
<ul>
    <% @guest.appearances.each do |appearance| %>
    <li>Episode: <%= appearance.episode.number %> | Date: <%= link_to appearance.episode.date, appearance.episode %>
        | Rating: <%= appearance.rating %></li>
    <% end %>
</ul>