
<h1> Welcome to  <%= @guest.name %>'s page!</h1>
<h2> Occupation: <%= @guest.occupation.capitalize%> </h2>



<% appearances = @guest.appearances.sort_by(&:rating).reverse %>
<ol>
<%appearances.each do |appearance| %>
<li>
 <%= appearance.episode.date %> Episode Number:  <%= appearance.episode.number%> Appearance Rating: <%= appearance.rating %>
 </li>
 <%end%>
</ol>

