<h1>Create New Appearance</h1>

<% if @appearance.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@appearance.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
 
    <ul>
    <% @appearance.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @appearance do |f| %>
    <%= f.label :guest %><br>
    <%= f.collection_select :guest_id, Guest.all, :id, :name %><br>
    <%= f.label :episode %><br>
    <%= f.collection_select :episode_id, Episode.all, :id, :number %><br>
    
    
    <%= f.label :rating %><br>
    <%= f.number_field :rating %><br>

    <%= f.submit "Create Appearance" %>
    <%end%>
